<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public;max-age" cacheControlMode="UseMaxAge"  cacheControlMaxAge="10.00:00:00" />
    </staticContent>
 
  </system.webServer>
</configuration>